@font-face {
    font-family: ArcadeClassic;
    src: url(../font/ARCADECLASSIC.TTF);
}

body {
    background-color: black;
}

canvas {
    padding: 0;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.arrow {
    width: 25px;
    height: auto;
}

.divArrow {
    position: fixed;
    top: 3%;
    left: 2%;
}

svg .text,
svg .editionTxt {
    font-family: ArcadeClassic;
}

.editionTxt {
    opacity: 0%;
    transition: all 3s;
}

svg .text:hover+.editionTxt {
    opacity: 100%;
}

.btn:not(.btnModal) {
    background-color: grey;
    color: white;
    width: 300px;
    height: 90px;
    font-family: ArcadeClassic;
    font-size: 4rem;
    border-radius: 10px;
}

.btn:not(.disabled):not(.btnModal) {
    transition: all 1s;
}

.disabled:hover {
    background-color: grey;
    color: white;
}

.btn:hover:not(.disabled):not(.btnModal) {
    width: 400px;
    height: 100px;
    background-color: lightgray;
    color: rgba(0, 0, 0, 0.8);
    border-radius: 40px;
}

span {
    font-size: 2.5rem;
    color: white;
}

.modal-content {
    background-color: #4b4f53;
    border: 0px;
    border-radius: 20px;
}

.modal-title {
    font-family: ArcadeClassic;
    font-size: 3.2rem;
    color: white;
}

.arrowControl {
    width: 40px;
    height: auto;
    transition: all 2s ease-out;
}

.arrowControl:hover {
    transform: rotate(360deg);
}

p {
    font-family: ArcadeClassic;
    font-size: 3.5rem;
    color: lightsteelblue;
}

h2 {
    font-family: ArcadeClassic;
    font-size: 5rem;
    color: white;
    transition: all 2s ease-out;
}

h2:hover {
    transform: rotate(360deg);
}

.modalPos {
    top: 15%;
}